:root {
    --cor-de-link: #000;
}


body {

    font-family: 'Raleway';
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

/* ----------- HEADER --------------------*/
.menu-superior {
    display: flex;
    padding: 2% 10%;
    padding-bottom: 32px;
    font-size: 16px;

}

.menu-header {
    display: flex;
    gap: 275px;

}

.titulo-header {
    display: flex;
    font-weight: bold;
}

.lista-menu {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.lista-menu li:nth-child(6) {
    font-weight: bold;
}

/*----------------- PRESENTACION ---------------------*/

.presentacion {
    display: flex;
    padding-bottom: 32px;
    align-items: center;
    padding: 2% 10%;
}

.titulo-links-presentacion {
    display: flex;
    flex-direction: column;

}

.titulo-presentacion {
    padding-bottom: 20px;

}

.texo-presentacion {
    font-size: 16px;
}

.texo-presentacion:first-child {
    font-weight: bold;
    font-size: 42px;
    padding-bottom: 10px;


}

.lista-links {
    display: flex;
}

.links-presentacion {
    display: flex;
    flex-direction: row;
    gap: 25%;
}


.imagen-presentacion {
    display: flex;
    width: 75%;
    justify-content: center;
}


/* --------------- SOBRE MI ---------------*/

.sobremi {
    background-color: rgba(234, 242, 253, 1);
    height: 383px;
    padding-bottom: 32px;
}

.titulo-sobremi {
    padding: 10% 10% 1% 10%;
    font-size: 32px;
    font-weight: bold;
}


.texto-sobremi {
    padding: 0 10%;
}

.texto-sobremi:first-child {
    padding-bottom: 15px;
}

/* --------------- SKILLS ---------------*/
.skills {
    padding: 2% 10%;
    padding-bottom: 32px;
}

.titulo-skills {
    display: flex;
    font-size: 32px;
    font-weight: bold;
    justify-content: center;
    padding-bottom: 50px;
}

.cajas-skills {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.caja {
    display: flex;
    background-color: rgb(236, 232, 232);
    flex-grow: 1;
    flex-direction: column;
    width: 176px;
    height: 174px;
    justify-content: center;
    align-items: center;
}

.caja img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin: 25px;
}

/* --------------- Hobbies ---------------*/
.hobbies {
    padding: 2% 10%;
    padding-bottom: 32px;
}

.titulo-hobbies {
    display: flex;
    font-size: 32px;
    font-weight: bold;
    justify-content: center;
    padding-bottom: 50px;
}

.cajas-hobbies {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.caja {
    display: flex;
    background-color: rgb(236, 232, 232);
    flex-grow: 1;
    flex-direction: column;
    width: 176px;
    height: 174px;
    justify-content: center;
    align-items: center;
}

.caja img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin: 25px;
}

/* --------------- Formacion academica ---------------*/

.formacion {
    padding: 2% 10%;
    padding-bottom: 32px;
    background-color: #EAF2FD;
}

.titulo-formacion {
    display: flex;
    font-size: 32px;
    font-weight: bold;
    justify-content: center;
    padding-bottom: 50px;
}

.cajas-formacion {
    display: flex;
    gap: 15px;
    height: 300px;
    padding-bottom: 15px;
}

.cajas-img {
    display: flex;
    flex-direction: row;
    width: 50%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.img-formacion {
    width: 100%;
    height: auto;
}

.texto-formacion {
    display: flex;
    gap: 15px;
}

.texto {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;

}

.texto1 {
    font-weight: bold;
    padding-bottom: 5px;
}


/* --------------- Experiencia profesional ---------------*/
.exp-profesional {
    padding: 2% 10%;
    padding-bottom: 32px;
}

.titulo-exp {
    display: flex;
    font-size: 32px;
    font-weight: bold;
    justify-content: center;
    padding-bottom: 50px;
}

.codigo-secreto {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.codec-img {
    width: 65%;
}

.codec-img img {
    width: 100%;
    height: auto;
}

.codsec-lanzador {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.codsec-texto {
    margin-bottom: 5%;
}

.codsec-texto h2 {
    font-weight: bold;
    margin-bottom: 4%;
}

.codsec-boton:first-child {
    background-color: white;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
}

.codsec-boton {
    background-color: #2A7AE4;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
}

.codsec-boton:hover {
    background-color: greenyellow;
    color: black;
    border: 1px solid black;
}
